fastapi>=0.110
uvicorn[standard]>=0.27
celery>=5.3
redis>=5.0
python-multipart>=0.0.9
setuptools>=68,<81
numpy<2
ase>=3.22,<=3.25.0
pymatgen>=2024.2.20
spglib>=2.0
seekpath>=2.1
py4vasp>=0.10,<0.11
matplotlib==3.8.4
openai>=1.2.0
